[submodule "lib/vendor/zend/ZendPdf"]
	path = lib/vendor/zend/ZendPdf
	url = https://github.com/zendframework/ZendPdf.git
[submodule "lib/vendor/ZendPdf"]
	path = lib/vendor/ZendPdf
	url = https://github.com/zendframework/ZendPdf.git
